/* GLOBAL */
*{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    
}

/* MAIN CSS */
.vglasses__left{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.vglasses__left .col-4{
    align-self: center;
}
.vglasses__left .col-4 img{
    width: 100%;
}
.vglasses__items{
    cursor: pointer;
}

.vglasses__right{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.vglasses__model{
    background-image: url('../img/model.jpg');
    background-position: center top;
    background-size: cover;
    height: 600px;
    
}

.vglasses__model img{
    position: absolute;
    top: 32%;
    left: 25%;
    width: 238px;
    height: 85px;
    opacity: 0.9;
}

.vglasses__card{
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info{
    height:200px;
    position: absolute;
    bottom:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    color: white;
    padding: 20px;
   
}

#glasses{
    transition: all 0.5s;
}
.active{
    display: block;
}
.hidden{
    display: none;
}
.glasses:hover{
    cursor: pointer;
}
#glassesInfo .content span{
    font-size: 12px;
}
.gcolor{
    color: rgb(4, 187, 4);
}
#glassesInfo .content span:first-child{
    background-color:red;
    padding: 5px;
    margin: 0 5px 0 0;

}
#glassesInfo .content p{
    margin-top:10px;

}